/* Eric Meyer's Reset CSS v2.0 - http://cssreset.com */

html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{border:0;font-size:100%;font:inherit;vertical-align:baseline;margin:0;padding:0}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:none}table{border-collapse:collapse;border-spacing:0}

/*generic styles*/

body {
	-webkit-font-smoothing: antialiased;
}
a {
	text-decoration: none;
}
h1 {
	font-family: 'Roboto', sans-serif;
	font-size: 20pt;
	line-height: 20pt;
	margin-bottom: 10pt;
	color: #222;
}
p,
a {
	font-family: 'Muli', sans-serif;
}
a.btn {
	border: solid 2px #fff;
    padding: 1em 3%;
    color: #fff;
    background-color: transparent;
    text-transform: uppercase;
    font-size: 15px;
    letter-spacing: 2px;
    text-align: center;
}
/*header*/

header {
	padding: 70px 19%;
}
nav {
	display: inline-block;
	float: right;
}
header nav ul {
	margin: 2em 0;
}
header nav li {
	display: inline-block;
}
header nav li a {
	text-transform: uppercase;
	color: #222;
	padding: 0 12px;
	font-size: 12pt;
	line-height: 12pt;
}
header nav li a.border {
	border-right: 1px solid #979797;
	border-left: 1px solid #979797;
}

/*section about*/

section.about {
	padding: 0 19%;
}
section.about p {
	font-size: 14pt;
	line-height: 18pt;
	margin: 5pt 0;
}
section.about p.margin-before {
	margin-top: 21pt;
}
.icon-heart:before {
    content: "\e902";
    color: red;
    margin: 0 5px;
}

/*section projects*/

section.works {
	padding: 90px 0 0 0;
	text-align: center;
}
.projects {
	overflow: auto;
    padding-bottom: 0;
    margin-bottom: 0;
}
li.project-card {
	float: left;
    width: 50%;
    list-style: none;
   	cursor: pointer;
   	padding: 246px 0;
}
li.first-project {
	background: url(../images/gpm.png) center;
	background-color: #E0F6F7;
	background-size: cover;
}
li.second-project {
	background: url(../images/santiago-alonso.png) center;
	background-color: #F7EAE0;
	background-size: cover;
}
li.three-project {
	background: url(../images/vinoteca.png) center no-repeat;
	background-color: #F7F6E0;
	background-size: contain;
}		
li.four-project {
	background: url(../images/m2executives.png) center no-repeat;
	background-color: #F3E0F7;
}

/*media queries*/

@media screen and (max-width: 700px) {
	h1 {
		margin-bottom: 0;
	}
	header {
    	padding: 55px 15%;
    }
	section.about {
    	padding: 0 15%;
	}
	li.project-card {
		float: none;
		width: 100%;
	}
	li.project-card img {
		height: auto;
	}
}
@media screen and (max-width: 450px) {
	header {
		padding: 35px 0;
	}
	header img {
		display: block;
		margin: 0 auto;
	}
	nav {
		float: none;
	}
	header nav ul {
    	margin: 2em 0em 0 0.5em;
    }
    li.project-card img {
    	height: auto;
    }
}
