/* Eric Meyer's Reset CSS v2.0 - http://cssreset.com */

html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{border:0;font-size:100%;font:inherit;vertical-align:baseline;margin:0;padding:0}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:none}table{border-collapse:collapse;border-spacing:0}

/*body*/
body {
	font-family: 'Asap', sans-serif;
	/*font-family: 'Source Sans Pro', sans-serif;*/
	text-align: center;
}
h1 {
	font-size: 2em;
	color: #101010;
	margin: 1em 0;
	letter-spacing: 0.11em;
}
h2 {
	font-size: 1.2em;
	color: #505050;
}
p {
	font-size: 1em;
	color: #505050;
	margin: 0.8em 0;
}
p strong {
	font-style: italic;
	font-size: 1.2em;
}
a {
	text-decoration: none;
}

/*header*/
header {
	background: url("../images/background-3.jpg");
	background-size: cover;
	background-position: center center;
	opacity: 0.5;
}
header p { 	 	
	color: #101010; 	 	
	font-size: 1.2em; 	 	
	margin: 2em 0; 	 	
}
header h1 {
	font-family: 'Open Sans Condensed', sans-serif;
	font-weight: bold;
	letter-spacing: 0.11em;
	font-size: 2.0em;
	color: #fff;
}
header hr {
	border: none;
	border-top: dashed 1px #fff;
}
header,
section {
	padding: 18em 10%;
}
h1.hidden {
	display: none;
}
header nav ul {
	margin-bottom: 3em;
}
header nav li {
	display: inline-block;
}
header nav a {
	color: #555;
	/*color: #282828;*/
	letter-spacing: 0.11em;
	text-transform: uppercase;
	font-weight: bold;
	padding: 1em;
	font-size: 0.8em;
	text-align: right;
}
/*section*/
#sobre-mi img {
	height: 200px;
	width: 200px;
	margin-bottom: 10px;
	border-radius: 50%;
	box-shadow: #fff 0 0 0 5px, #bbbbbb 0 0 0 3px;
	display: block;
	margin: auto;
	margin-bottom: 20px;
	margin-top: 10px;
}
#projects section{
	padding: 0;
}
#projects img {
	box-shadow: #F0F0F0  0 0 0 5px, #303030  0 0 0 5px; 	
	opacity: 0.5;
	max-width: 100%;
}
/*#projects img:hover {
	opacity: 1.0;*/
}
#projects section p {
	text-transform: uppercase;
	font-weight: bold;
	letter-spacing: 0.2em;
	font-size: 1.4em;
	color: #555;
	margin: 0.5em 0 2em 0;
}

/*footer*/
footer {
	background: url("../images/background-3.jpg");
	padding: 3em 10%;
	background-size: cover;
}
.contact li {
	display: inline-block;
	margin: 0 1em;
}
.contact a {
	background: url("../images/socialicons.png");
	width: 36px;
	height: 36px;
	display: block;
	opacity: 0.8;
}
.contact a:hover {
	opacity: 1;
}
.contact a span {
	display: none;
}
.contact a.e-mail {
	background-position: 0px 0px;
}
.contact a.github {
	background-position: 0px -46px;
}
.contact a.twitter {
	background-position: 0px -92px;
}
.contact a.facebook {
	background-position: 0px -138px;
}
.contact a.linkedin {
	background-position: 0px -184px;
}
@media screen and (max-width: 1280px) {
  .screen-shot section header {
    height: 7em;
  }
}
@media screen and (max-width: 960px) {
  .screen-shot section {
    margin-right: 0;
    width: 100%;
    float: none;
  }
  #projects img {
	opacity: 1.0;
  }
}
