/* Eric Meyer's Reset CSS v2.0 - http://cssreset.com */

html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{border:0;font-size:100%;font:inherit;vertical-align:baseline;margin:0;padding:0}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:none}table{border-collapse:collapse;border-spacing:0}

h1 {
	font-family: 'Oswald', sans-serif;
	font-size: 18pt;
	line-height: 18pt;
}
h2 {
	font-size: 14pt;
	line-height: 14pt;
	letter-spacing: 1pt;
}
h2,
h3,
p {
	font-family: 'Lato', sans-serif;
}
a {
	color: #fff;
	text-decoration: none;
	font-family: 'Lato', sans-serif;
	font-size: 12pt;
	line-height: 12pt;
}
img#icons {
	float: left;
	width: 20px;
    height: 21px;
    margin: 0 0 0 2em;
}
section.wrapper {
	background-color: #ffdd23;
	width: 22%;
    padding: 5em 3%;
    display: inline-block;
    height: 200vh;
}
section.wrapper img {
    width: 212px;
    height: 223px;
    border-radius: 50%;
    display: block;
    margin: 0 auto;
}
section.wrapper h1 {
	margin: 1em 0 0.5em 0;
	font-size: 33pt;
    line-height: 39pt;
    letter-spacing: 6pt;
    font-weight: 300;
}
div.border-bottom {
	border-bottom: 3px solid #fff;
	width: 120px;
    display: block;
    margin: 0 auto;
}
section.wrapper h2 {
	margin: 2em 0 0 0;
    padding-bottom: 27px;
}
section.wrapper h1,
h2,
p {
	text-transform: uppercase;
	color: #fff;
	text-align: center;
}
section.wrapper li p {
	margin-bottom: 1em;
}
ul.contact li {
	text-align: center;
}
ul.contact h2 {
	font-family: 'Oswald', sans-serif;
	font-weight: 300;
	letter-spacing: 1pt;
}
li a.uppercase {
	text-transform: uppercase;
}
li.link {
	padding: 4em 0 0.5em 0;
	margin: 0.5em 0;
}
section.container {
	float: right;
	width: 70%;
}
li.link a {
	margin: 1em 28% 0 0;
}
li.link-last a {
	margin: 1em 0 0 0.5em;
}

/*section container*/
section.container img {
	width: 23px;
	color: #222;
	margin-right: 0.5em
}
section.container h1 {
	text-transform: uppercase;
	color: #ffdd23;
	display: inline-block;
    margin: 1em 0 0.5em 0;
    letter-spacing: 3px;
    padding: 5px 0;
}

/*gardient for h1*/

h1.bot-left {
  	position: relative;
}
.bot-left:after {
	content: "";
	position: absolute;
	bottom: -3px;
	left: -3px;
}
.bot-left:after {
  	right: -3px;
  	left: -35px;
  	height: 3px;
  	width: 30em;
  	background-image: -webkit-gradient(linear, 0 0, 100% 0, from(#f1f1f1), to(transparent));
  	background-image: -webkit-linear-gradient(left, #f1f1f1, transparent);
  	background-image: -moz-linear-gradient(left, #f1f1f1, transparent);
  	background-image: -o-linear-gradient(left, #f1f1f1, transparent);
}
section.container p {
	color: #4f4f4f;
	text-transform: none;
    text-align: left;
    margin: 1em 0;
    letter-spacing: 0.5px;
    padding: 0 25% 0 0;
    font-size: 12pt;
    line-height: 15pt;
}
section.container a {
	color: #989898;
	text-transform: uppercase;
	font-size: 12pt;
	font-weight: 300;
	line-height: 12pt;
    letter-spacing: 0.5px;
}
section.container a:hover {
	color: #ffdd23;
}
section.container article h2 {
	text-transform: uppercase;
	color: #4f4f4f;
	text-align: left;
	font-size: 13pt;
	line-height: 13pt;
	font-weight: bold;
	letter-spacing: 0.5px;
}
section.container article h3 {
	text-transform: uppercase;
	letter-spacing: 0.5px;
}
section.container article.experience li p.bulleted-list {
    margin-left: 3em;
}

/*article experience*/

article.experience ul {
	margin: 1.5em 0;
}
ul.bulleted-list li.bulleted {
	margin: 1em 0 1em 2em;
}

/*article traning*/

article.training li {
	margin: 1.5em 0;
}
article.training p {
	margin: 0;
	text-transform: uppercase;
}

/*article skills*/
ul.bulleted-list {
	display: table-cell;
    width: 27%;
    text-align: left;
}

ul.bulleted-list li:before {
	left: 10px;
	top: -4px;
	content: "• ";
	font-size: 14px;
	color: #222;
}
ul.bulleted-list li {
	font-family: 'Lato', sans-serif;
	color: #4f4f4f;
	margin: 0.5em 0;
}


/* article conferences*/

article.conferences li {
	margin: 1em 0;
}

/*Media queries*/

@media screen and (max-width: 1200px) {
	li.link-last a {
		margin: 0;
	}
}
@media screen and (max-width: 700px) {
	section.wrapper {
    	width: 100%;
    	padding: 2em 0;
    	height: auto;
    }
    ul.contact li.link,
	li.link-last {
		text-align: left;
		padding: 0 19%;
		margin: 2em 0;
	}
	ul.contact li.link-last {
		text-align: left;
	}
    img#icons {
    	margin: 0 1em 0 3em;
    }
    li.link-last a {
    	margin: 0 2em 0 0;
    }
    section.container {
    	width: auto;
    	padding: 2em 8%;
    	float: none;
    }
    section.container p {
    	padding: 0;
    }
	.bot-left:after {
		width: auto;
		left: 0;
	}
	section.container article img {
		display: none;
	}
	section.container p {
		padding: 0 7% 0 0;
	}
}



