/* Eric Meyer's Reset CSS v2.0 - http://cssreset.com */

html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{border:0;font-size:100%;font:inherit;vertical-align:baseline;margin:0;padding:0}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:none}table{border-collapse:collapse;border-spacing:0}

h1 {
	font-family: 'Oswald', sans-serif;
	font-size: 2.2em;
	line-height: 2.2em;
}
h2 {
	font-size: 16pt;
	line-height: 16pt;
	letter-spacing: 0.4pt;
}
h2,
h3,
p {
	font-family: 'Lato', sans-serif;
}
a {
	color: #fff;
	text-decoration: none;
	font-family: 'Lato', sans-serif;
	font-size: 12pt;
	line-height: 12pt;
}

section.wrapper {
	background-color: #ffdd23;
	width: 20%;
    padding: 5em 3%;
    display: inline-block;
}
section.wrapper img {
	width: 245px;
	height: 250px;
    border-radius: 50%;
    display: block;
    margin: 0 auto;
}
section.wrapper h1 {
	margin: 1em 0 0.5em 0;
	font-size: 28pt;
	line-height: 34pt;
	letter-spacing: 0.4pt;
}
section.wrapper h2 {
	margin: 1.5em 0 1.5em 0;
	border-bottom: 3px solid #fff;
	padding-bottom: 35px;
}
section.wrapper h1,
h2,
p {
	text-transform: uppercase;
	color: #fff;
	text-align: center;
}
section.wrapper li p {
	margin-bottom: 1em;
}
ul.contact li {
	text-align: center;
}
li a.uppercase {
	text-transform: uppercase;
}
li.link {
	margin: 4em 0 0.5em 0;
}
section.container {
	float: right;
	width: 70%;
}
section.container h1 {
	text-transform: uppercase;
	color: #ffdd23;
	border-bottom: 4px solid #f1f1f1;
	display: inline-block;
	margin: 2em 0 1em 0;
    letter-spacing: 3px;
}
section.container p {
	color: #4f4f4f;
	text-transform: none;
    text-align: left;
    margin: 1em 0;
    letter-spacing: 0.5px;
}
section.container a {
	color: #989898;
	text-transform: uppercase;
	font-size: 12pt;
	font-weight: 300;
	line-height: 12pt;
    margin-left: 0.5em;
    letter-spacing: 0.5px;
}
section.container a:hover {
	color: #ffdd23;
}
section.container article h2 {
	text-transform: uppercase;
	color: #4f4f4f;
	text-align: left;
	font-size: 13pt;
	line-height: 13pt;
	font-weight: bold;
	letter-spacing: 0.5px;
}
section.container article h3 {
	text-transform: uppercase;
	letter-spacing: 0.5px;
}
section.container article.experience li p.bulleted-list {
	list-style: initial;
    margin-left: 3em;
}